body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    display: flex;
    justify-content: center;
    gap: 3%;
}

#buttons {
    background-color:brown;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
    width: 20%;
    gap: 20px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
.grid-element {
    background-color: wheat;
    display: flex;
    min-width: 0px;
    min-height: 0px;
}